.render-scan button {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  height: 3rem;
  width: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 9999px;
  box-shadow:
    0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  transition:
    transform 0.2s ease,
    background-color 0.3s ease;
  border: none;
  cursor: pointer;
  z-index: 100000;
}

.render-scan button:hover {
  transform: scale(1.1);
}

.render-scan button:active {
  transform: scale(0.95);
}

.render-scan div {
  transition: transform 0.5s ease;
}

.render-scan div.enabled {
  transform: rotate(360deg);
}

.render-scan div:not(.enabled) {
  transform: rotate(0deg);
}
.render-scan button {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  height: 3rem;
  width: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 9999px;
  box-shadow:
    0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  transition:
    transform 0.2s ease,
    background-color 0.3s ease;
  border: none;
  cursor: pointer;
  z-index: 100000;
}

.render-scan button:hover {
  transform: scale(1.1);
}

.render-scan button:active {
  transform: scale(0.95);
}

.render-scan div {
  transition: transform 0.5s ease;
}

.render-scan div.enabled {
  transform: rotate(360deg);
}

.render-scan div:not(.enabled) {
  transform: rotate(0deg);
}
